.light .brochure-page-1 h3 {
    color:var(--basic-text);
    text-decoration-color: var(--white-text);
}

.light .brochure-page-1 h2,
.light .page-2-content h1,
.light .page-2-scroll,
.light .sidebar-tabs,
.light .page-2-scroll h3,
.light .brochure-page-3,
.light .brochure-page-1 b,
.light .faceclaim-list-item .faceclaim,
.light .canon-list-item .faction,
.light .faceclaim-list-item span,
.light #claims-table-headers div {
    color: var(--basic-text);
}

.light .sidebar-tabs:hover,
.light .page-2-scroll .witch-alignment h4,
.light .canon-list-item span {
    color:var(--basic-text-lighter);
}

.light .page-2-scroll .witch-alignment img {
    filter:invert(0);
}

.light .color-human {
    --group:var(--human);
}

.light .color-werewolf {
    --group:var(--werewolf);
}

.light #omens-page-brochure code {
    background: var(--white-text);
    color: var(--basic-text);
}

.light .faceclaim-list-item, 
.light .canon-list-item,
.light .claims-table-item,
.light #claims-table-headers,
.light #omens-page-brochure {
    border-color:var(--border);
}

.light .faceclaim-list-item a span,
.light .canon-list-item a span {
    color:var(--group);
}

.light .brochure-sidebar-h1 {
    color:var(--border);
}

.sidebar-tabs:hover {
    cursor:crosshair;
}