.light .brochure-page-1 h3 {
    color:var(--basic-text);
    text-decoration-color: var(--white-text);
}

.light .brochure-page-1 h2,
.light .page-2-content h1,
.light .page-2-scroll,
.light .sidebar-tabs,
.light .page-2-scroll h3,
.light .brochure-page-3,
.light .brochure-page-1 b {
    color: var(--basic-text);
}

.light .sidebar-tabs:hover,
.light .page-2-scroll .witch-alignment h4 {
    color:var(--basic-text-lighter);
}

.light .page-2-scroll .witch-alignment img {
    filter:invert(0);
}

.light .color-human {
    --group:var(--human);
}

.light .color-werewolf {
    --group:var(--werewolf);
}