:root {
  --werewolf: #a3a948;
  --vampire: #e4394e;
  --witch: #9f6fec;
  --human: #55ba8e;
  --staff-member: #e3b550;
  --ooc-member: #e2cab8;
  --pending: #aaa;
  --main-accent: #df6885;
  --main-accent-rgb: var(--mainAccentR), var(--mainAccentG), var(--mainAccentB);
  --main-gradient: linear-gradient(110deg, #df6885, #df6868);

  --category-header:#2a2a2a;
}