:root {
  --werewolf: #a3a948;
  --vampire: #e4394e;
  --witch: #9f6fec;
  --human: #55ba8e;
  --npc: #51A1C4;
  --rip: #6B6C72;
  --staff: #e3b550;
  --member: #e2cab8;
  --pending: #aaa;
  --archived: #666;
  --main-accent: #aaa;
  --main-accent-rgb: var(--mainAccentR), var(--mainAccentG), var(--mainAccentB);
  --main-gradient: linear-gradient(110deg, #df6885, #df6868);
  --background:#1c1c1c;

  --category-header: #2a2a2a;

  --small-header: 700 0.6rem 'open sans', sans-serif;
  --med-header: italic 900 2rem 'playfair display', serif;

  --default-border: 2px solid rgba(255, 255, 255, 3%);

  --forum-8: url(../src/img/LLORONA_8.png);
  --forum-9: url(../src/img/LLORONA_9.png);
}

.forum-8 .forum-image:before {
  background-image: var(--forum-8);
}

.forum-9 .forum-image:before {
  background-image: var(--forum-9);
}

.group-staff,
.group-6 {
  --group: var(--staff);
}

a.mgroup-6 {
  color:var(--staff);
}

.group-icon-6:before {
  font-family: "game-icons";
  content: "\E15A";
}

.group-member,
.group-10 {
  --group: var(--member);
}

a.mgroup-10 {
  color:var(--member);
}

.group-icon-10:before {
  font-family: "game-icons";
  content: "\E159";
}

.group-vampire,
.group-9 {
  --group: var(--vampire);
}

a.mgroup-9 {
  color:var(--vampire);
}

.group-icon-9:before {
  font-family: "game-icons";
  content: "\E0E2";
}

.group-werewolf,
.group-14 {
  --group: var(--werewolf);
}

a.mgroup-14 {
  color:var(--werewolf);
}

.group-icon-14:before {
  font-family: "game-icons";
  content: "\E3F9";
}

.group-witch,
.group-8 {
  --group: var(--witch);
}

a.mgroup-8 {
  color:var(--witch);
}

.group-icon-8:before {
  font-family: "game-icons";
  content: "\E08E";
}

.group-human,
.group-7 {
  --group: var(--human);
}

a.mgroup-7 {
  color:var(--human);
}

.group-icon-7:before {
  font-family: "game-icons";
  content: "\E909";
}

.group-pending,
.group-3 {
  --group: var(--pending);
  --main-accent-rgb:rgb(170,170,170);
}

a.mgroup-3 {
  color:var(--pending);
}

.group-icon-3:before {
  font-family: "game-icons";
  content: "\E75A";
}

.group-npc,
.group-20 {
  --group: var(--npc);
}

a.mgroup-20 {
  color:var(--npc);
}

.group-icon-20:before {
  font-family: "game-icons";
  content: "\E157";
}

.group-rip,
.group-19 {
  --group: var(--rip);
}

a.mgroup-19 {
  color:var(--rip);
}

.group-icon-19:before {
  font-family: "game-icons";
  content: "\E54E";
}